@tailwind base;

@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');
/* can now reference my font */
body {
  font-family: "Poppins", sans-serif;
}

@tailwind utilities;